services:
  openfga:
    build:
      context: ../..
      dockerfile: Dockerfile.openfga
    entrypoint:
      - /usr/bin/openfga
    command:
      - run
    env_file:
      - .env
    environment:
      - OPENFGA_DATASTORE_ENGINE
      - OPENFGA_DATASTORE_URI
      - OPENFGA_ACCESS_CONTROL_STORE_ID
      - OPENFGA_AUTHN_PRESHARED_KEYS
      - OPENFGA_HTTP_LISTEN_ADDR
      - OPENFGA_HTTP_LISTEN_PORT
      - OPENFGA_HTTP_TLS_ENABLED
      - OPENFGA_HTTP_CORS_ALLOWED_ORIGINS
      - OPENFGA_HTTP_CORS_ALLOWED_HEADERS
      - OPENFGA_LOG_LEVEL
      - OPENFGA_LOG_FORMAT
      - OPENFGA_PLAYGROUND_ENABLED
      - OPENFGA_PLAYGROUND_PORT
    ports:
      - "8085:8080"
      - "3080:3000"

  caddy:
    build:
      context: ../..
      dockerfile: Dockerfile.caddy
    entrypoint:
      - /usr/bin/caddy
    command:
      - run
      - --config
      - /etc/caddy/Caddyfile
    depends_on:
      - openfga
    env_file:
      - .env
    environment:
      - CADDY_CONTACT_EMAIL
      - OPENFGA_API_HOST
      - OPENFGA_PLAYGROUND_HOST
      - OPENFGA_UPSTREAM_HOST
      - OPENFGA_UPSTREAM_PORT
      - OPENFGA_PLAYGROUND_UPSTREAM_PORT
      - CADDY_GLOBAL_OPTIONS
      - CADDY_API_BLOCK_DIRECTIVES
      - CADDY_PLAYGROUND_BLOCK_DIRECTIVES
    ports:
      - "8080:8080"
      - "8082:8082"
