name: demo-openfga-ft-unikraft

services:
  postgres:
    image: postgres:17.2-alpine3.21
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_USER=${POSTGRES_USER}
      - PGPORT=${POSTGRES_PORT}
    ports:
      - ${POSTGRES_PORT}:${POSTGRES_PORT}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER}"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - demo_authz_network

  migrate:
    depends_on:
      postgres:
        condition: service_healthy
    image: openfga/openfga:v1.11.0
    command: migrate
    environment: # Full list https://github.com/openfga/openfga/blob/main/cmd/migrate/flags.go
      - OPENFGA_DATASTORE_ENGINE=postgres
      - OPENFGA_DATASTORE_URI=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:${POSTGRES_PORT}/${POSTGRES_DB}?sslmode=disable
      - OPENFGA_VERBOSE=true
    networks:
      - demo_authz_network

  openfga:
    depends_on:
      migrate:
        condition: service_completed_successfully
    image: openfga/openfga:v1.11.0
    environment: # Full list https://github.com/openfga/openfga/blob/main/cmd/run/flags.go, https://github.com/openfga/openfga/blob/main/.config-schema.json
      - OPENFGA_ACCESS_CONTROL_STORE_ID=${OPENFGA_ACCESS_CONTROL_STORE_ID}
      - OPENFGA_AUTHN_METHOD=preshared
      - OPENFGA_AUTHN_PRESHARED_KEYS=${OPENFGA_AUTHN_PRESHARED_KEYS}
      - OPENFGA_DATASTORE_ENGINE=postgres
      - OPENFGA_DATASTORE_URI=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:${POSTGRES_PORT}/${POSTGRES_DB}?sslmode=disable
      - OPENFGA_HTTP_CORS_ALLOWED_ORIGINS=*
      - OPENFGA_HTTP_CORS_ALLOWED_HEADERS=Content-Type,Authorization
      - OPENFGA_HTTP_TLS_ENABLED=false
      - OPENFGA_LOG_FORMAT=json
      - OPENFGA_LOG_LEVEL=debug
      - OPENFGA_PLAYGROUND_ENABLED=true
      - OPENFGA_PLAYGROUND_PORT=3000
    command: run
    networks:
      - demo_authz_network

  caddy:
    image: caddy:2.8-alpine
    depends_on:
      openfga:
        condition: service_started
    ports:
      - "8080:8080"  # OpenFGA API
      - "8082:8082"  # OpenFGA Playground
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
      - caddy_data:/data
      - caddy_config:/config
    networks:
      - demo_authz_network
    restart: unless-stopped

volumes:
  postgres_data:
    name: demo_authz_postgres_data
  caddy_data:
    name: demo_authz_caddy_data
  caddy_config:
    name: demo_authz_caddy_config

networks:
  demo_authz_network:
    name: demo_authz_network
