{
  email {$CADDY_CONTACT_EMAIL}
  {$CADDY_GLOBAL_OPTIONS}
}

# OpenFGA HTTP API
{$OPENFGA_API_HOST:-:8080} {
  {$CADDY_API_BLOCK_DIRECTIVES}
  reverse_proxy {$OPENFGA_UPSTREAM_HOST:-openfga}:{$OPENFGA_UPSTREAM_PORT:-8080}
}

# OpenFGA Playground UI
{$OPENFGA_PLAYGROUND_HOST:-:8082} {
  {$CADDY_PLAYGROUND_BLOCK_DIRECTIVES}
  reverse_proxy {$OPENFGA_UPSTREAM_HOST:-openfga}:{$OPENFGA_PLAYGROUND_UPSTREAM_PORT:-3000}
}
